html{
  box-sizing: border-box;
}

*,
*::after,
**::before {
  box-sizing: inherit;
}

ul,
ol{
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  /*Colors*/
  --dark: #2d3436;
  --gray: #636e72;

  --white: #FFFFFF;

  --dark-contrast: #A6270A;
  --light-contrast: #F2603F;

  --dark-main: #45D19E;
  --light-main: #3FF2B1;

  --main-back: #dfe6e9;


  /*Layers*/
  --main: 4;
  --back: 2;


  /*Font sizes*/
  --small-text: 16px;
  --small2-text: 22px;
  --medium-text: 28px;
  --medium2-text: 34px;
  --large-text: 40px;
  --large2-text: 46px;
}

/*
font-family: 'Caveat', cursive;
font-family: 'Roboto Mono', monospace;
*/

body{
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
}

.app{
  overflow: hidden;
}


.button {
  height: 60px;
  width: 200px;
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-size: 26px;
  font-weight: 600;
  box-shadow: 1px 1px 5px -1px var(--dark-gray);
  transition: .4s ease;
  cursor: pointer;
}