.app-header{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--dark);
  height: 100px;
  width: 100%;
  padding: 15px 40px;
  margin-bottom: 20px;
  
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title{
    height: 50%;
    font-size: 46px;
    font-family: 'Caveat', cursive;
    text-shadow: 2px 2px var(--gray);
    color: var(--dark-main);
  }

  &__user{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-info{
    display: flex;
    align-items: center;
  }
}

.header-user__name {
  margin-right: 20px;
}

.header-user__img{
  height: 40px;
  width: 40px;
  margin-right: 40px;
  overflow: hidden;
}

.user-controllers__logout{
  height: 58px;
  width: 58px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-user_name-btn{
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;

}

.header-user_name-img{
  max-height: 100%;
}


//Adaptivity

@media (max-width: 890px) {
  .app-header__title{
    margin-bottom: 20px;
    font-size: 36px;
  }
}