.panel{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 90%;
  padding: 5px;
  background-color: var(--light-contrast);
  box-shadow: 2px 3px 10px -6px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin-bottom: 15px;

  &-input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 18px;
    font-family: inherit;

    &:focus{
      outline: none;
    }
  }

  &-level{
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: inherit;

    &:focus{
      outline: none;
    }
  }

  &-btn{
    height: 30px;
    width: 70px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: inherit;
    background-color: #fff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 3px 10px -6px rgba(0,0,0,0.75);
  }
}